.nav-container {

    position: sticky;
    z-index: 3;
    top: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    height: 15vh;
    background-color: black;
}
.Categories {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar-logo {
    font-size: 4vh;
    justify-self: start;
    margin-left: 20px;
    color: antiquewhite;
    margin-top: 4vh;
}

.seeCarrito {
    font-size: 25px;
    margin-right: 20px;
    margin-top: 4vh;
    cursor: pointer;
    text-decoration: none;

}

.buttons {

    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
}

.Option {
    text-decoration: none;
    border-radius: 25;
    margin: 0 50px;
    width: auto;
    padding: 12px;
    font-size: 8px;
    background: black;
    border-radius: 8px;
    flex: none;
    display: flex;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    border: none;
    border-style: none;
    cursor: pointer;

}

.ActiveOption {

    text-decoration: none;
    border-radius: 25;
    margin: 0 50px;
    width: auto;
    padding: 12px;
    font-size: 15px;
    background: rgb(72, 105, 158);
    border-radius: 8px;
    flex: none;
    display: flex;
    order: 1;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
}

.NavLink {
    color: rgb(255, 0, 0)
}